@charset 'utf-8';

@import 'settings';
@import 'foundation';

// Global styles
@include foundation-global-styles;

// Grids
@include foundation-xy-grid-classes;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;

// Variables
$darkBlue: #00438D;
$blue: #1C5E8E;
$yellow: #d79301;
$lightBlue: #EEF4F6;

// Generic base styling
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
}
a{
	display: inline-block;
	font-weight: 300;
	text-decoration: none;
	font-size: 1.1rem;
}
a:hover{
	text-decoration: underline;
}
h1{
	font-weight: 900;
	font-size: 43px;
	line-height: 47px;
	color: $blue;
}

// Buttons etc.
.btn{
	padding: 15px 70px 15px 35px;
	text-transform: uppercase;
	font-size: 1.25rem;
	border-radius: 31px;
	font-weight: normal;
	transition: all 0.5s;
	position: relative;
}
.btn:hover{
	text-decoration: none;
}
.btn svg{
	position: absolute;
	right: 15px;
    top: 20px;
}
.btn.blue-grad{
	color: white;
}
.btn.blue-grad:hover{
	opacity: 0.7;
}

// Colours
.yellow{
	color: $yellow;
}
.blue{
	color: $blue;
}
.lightBlue{
	color: $lightBlue;
}
.darkBlue{
	color: $darkBlue;
}
.blue-grad{
	background: linear-gradient(145.45deg, #249DC2 19.39%, #1E6192 84.49%);
}

// Header
header{
	position: relative;
}
header .cta{
text-align: center;
    padding: 33px 25px 15px;
    display: block;
    width: 249px;
    transition: all 0.5s;
    position: absolute;
    right: 40px;
    color: white;
    font-weight: normal;
    font-size: 15px;
    border-radius: 31.5px;
    top: -25px;
}
header .cta .tel{
	font-weight: 900;
	display: block;
	font-size: 30px;
}
header .cta:hover{
	opacity: 0.8;
}
header .cta p{
	margin: 0
}
#top-nav{
	padding: 0.5rem;
}
#top-nav a{
	color: $blue;
}
#top-nav a span{
	font-weight: bold;
}

#bottom-nav{
	background: $lightBlue;
	padding: 1.25rem;
}
#bottom-nav a{
	color: $darkBlue;
	font-weight: 900;
}

// Main Styling
main{
	padding: 100px 0
}

// Hero Banner
.title--sub-text{
	font-size: 23px;
	font-weight: 300;
	line-height: 30px;
	width: 80%;
}

// Blobs
.blobs{
	position: relative;
	height: 420px;
	margin: 0 auto;
}
.blob-section{
	position: absolute;
}
.blob-section#blob-1{
	z-index: 4;
    left: 30px;
    top: 30px;
    width: 90%;
}
.blob-section#blob-2{
	z-index: 3;
}
.blob-section#blob-3{
	z-index: 2;
	transform: rotate(65deg);
}
.blob-section#blob-4{
	z-index: 1;
	transform: rotate(-27deg);
}

// Media Queries
@media screen and (max-width: 640px){
	.blobs{
		width: 60%
	}
}
@media screen and (max-width: 700px){
	.blobs{
		height: 300px;
		width: 70%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	.blobs{
		width: 60%;
	}	
}
@media screen and (max-width: 1640px){
	header .cta{
		display: none;
	}	
}
@media screen and (max-width: 1160px){
	#top-nav{
		display: none;
	}
}