@charset 'utf-8';

@import 'settings';
@import 'foundation';

// Global styles
@include foundation-global-styles;

// Grids
@include foundation-xy-grid-classes;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;

// Colors
$darkBlue: #00438D;
$blue: #1C5E8E;
$yellow: #d79301;
$lightBlue: #EEF4F6;

// Generic base styling
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-style: normal;
}
a{
	display: inline-block;
	font-weight: 300;
}